.subscribePopUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  color: #000;
  font-family: var(--font-primary);
  width: 75%;
  max-height: 95vh;
  overflow-y: scroll;
  z-index: 4000000;
  padding: 20px;
  background: var(--background);
  color: var(--color);
  border: 1px solid var(--color);
}

.popUpHeadline {
  font-size: var(--font-md-resp);
  font-weight: thin;
  margin-bottom: 10px;
}

.popUpHeadlineContainer {
 text-align: center;
}

.innerContainer {
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.close span {
  display: block;
  position: relative;
  height: 1px;
  width: 100%;
  background: currentColor;
}

.close span:first-of-type {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close span:last-of-type {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.email:focus, .name input:focus {
  outline: none;
}

.submit {
  display: flex;
  width: 100%;
  justify-content: center;
  border: 1px solid currentColor;
  padding: 10px 30px 10px 30px;
  border-radius: 6px;
  margin-top: 60px;
}

.submit:hover {
 opacity: 1;
 background: var(--color);
 color: var(--background);
}

.formContainer {
  font-family: var(--font-primary);
  width: 40%;
}

.mailForm {
  display: flex;
  flex-direction: column;
}

.headerText,
.inputContainer {
  width: 80%;
}

.name {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}

.name input {
  border: 1px solid var(--color);
  padding: 2px 5px;
  background: var(--background);
  color: var(--color);
  border-radius: 6px;
  width: 50%;
  height: 40px;
}

.email {
  border: 1px solid var(--color);
  padding: 2px 5px;
  background: var(--background);
  color: var(--color);
  border-radius: 6px;
  width: 100%;
  height: 40px;
  margin-top: 15px;
}

.mailForm form {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

.success, .error {
  margin-top: var(--medium-padding);
}

@media screen and (max-width: 1000px) {
  .formContainer {
    font-family: var(--font-primary);
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .formContainer {
    width: 100%;
  }

  .headerText,
  .inputContainer {
    width: 100%;
  }

  .mailForm form {
    flex-direction: column;
    align-items: flex-start;
  }

  .name {
    flex-direction: column;
  }

  .name input {
    width: 100%;
  }

  .close {
  width: 20px;
  height: 20px;
}
}